<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body>
  <div class="inline">
    <a href="home">
      <h1>Home</h1>
    </a>
  </div>
  {% if top_doc_1_name %}
  <div class="med_post_div">{{top_doc_1_name}} Speciality:{{top_doc_1_speciality}} Email:{{top_doc_1_email}}
    Phone:{{top_doc_1_phone}} </div>
  {% endif %}
  {% if top_doc_2_name %}
  <div class="med_post_div">{{top_doc_2_name}} Speciality:{{top_doc_2_speciality}} Email:{{top_doc_2_email}}
    Phone:{{top_doc_2_phone}} </div>
  {% endif %}
  {% if top_doc_3_name %}
  <div class="med_post_div">{{top_doc_3_name}} Speciality:{{top_doc_3_speciality}} Email:{{top_doc_3_email}}
    Phone:{{top_doc_3_phone}} </div>
  {% endif %}
  {% if top_doc_4_name %}
  <div class="med_post_div">{{top_doc_4_name}} Speciality:{{top_doc_4_speciality}} Email:{{top_doc_4_email}}
    Phone:{{top_doc_4_phone}} </div>
  {% endif %}
  {% if top_doc_5_name %}
  <div class="med_post_div">{{top_doc_5_name}} Speciality:{{top_doc_5_speciality}} Email:{{top_doc_5_email}}
    Phone:{{top_doc_5_phone}} </div>
  {% endif %}
  {% if top_doc_6_name %}
  <div class="med_post_div">{{top_doc_6_name}} Speciality:{{top_doc_6_speciality}} Email:{{top_doc_6_email}}
    Phone:{{top_doc_6_phone}} </div>
  {% endif %}
  {% if top_doc_7_name %}
  <div class="med_post_div">{{top_doc_7_name}} Speciality:{{top_doc_7_speciality}} Email:{{top_doc_7_email}}
    Phone:{{top_doc_7_phone}} </div>
  {% endif %}
  {% if top_doc_8_name %}
  <div class="med_post_div">{{top_doc_8_name}} Speciality:{{top_doc_8_speciality}} Email:{{top_doc_8_email}}
    Phone:{{top_doc_8_phone}} </div>
  {% endif %}
  {% if top_doc_9_name %}
  <div class="med_post_div">{{top_doc_9_name}} Speciality:{{top_doc_9_speciality}} Email:{{top_doc_9_email}}
    Phone:{{top_doc_9_phone}} </div>
  {% endif %}
  {% if top_doc_10_name %}
  <div class="med_post_div">{{top_doc_10_name}} Speciality:{{top_doc_10_speciality}} Email:{{top_doc_10_email}}
    Phone:{{top_doc_10_phone}} </div>
  {% endif %}

  <style>
    .med_post_div {
      border: 3px;
      border-style: solid;
      border-color: rgb(79, 141, 150);
      margin: 10px;
      padding: 10px;
      border-radius: 10px;
    }

    .med_post_text_div {
      border: 3px;
      border-style: solid;
      border-color: rgb(79, 141, 150);
      border-radius: 10px;
    }

    .inline {
      display: inline-block;
      margin: 10px;

    }

    a {
      color: rgb(223, 62, 156);
      text-decoration: none;
      /* no underline */
    }
  </style>

</body>

</html>